.nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    height: 98px;
    background: #d6ed0e;
    color: black;
    box-shadow: 0 0 25px ;
    position: fixed;
    top: 0px;
    font-weight: 900;
    z-index: 1;
}
.nav1 {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 10px;
}

.nav-section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.title {
    cursor: pointer;
}

.nav-section-1-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    width: 150px;
    cursor: pointer;
}

.nav-section-1-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-section-1-search input {
    height: 45%;
    border: none;
}
.nav-section-1-search input:focus {outline: none;}

.nav-section-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.nav-section-2 div {
    padding: 10px;
}

.nav2 {
    background-color: black;
    width: 100vw;
    color: #fff;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.nav3 {
    width: 50vw;
    background-color: transparent;
    color: #fff;
    position: relative;
    padding-top: 15px;
    transform: translateY(-100%);
    transition: 0.5s;
    display: flex;
    justify-content: space-around;
}
