.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productName {
    font-weight: bolder;
}

.productPrice {
    font-size: smaller;
}