.product-img {
    display: flex;
    justify-content: flex-end;
}

.product-img div {
    width: 300px;
    height: 450px;
    overflow: hidden;
}

.product-img div:hover {
    box-shadow: 0 0 25px #d6ed0e;
    transition: 0.5s;
}

.product-purchase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.product-purchase form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 150px;
}

.purchase-btn {
    position: relative;
    width: 50%;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #d6ed0e;
    overflow: hidden;
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 20px;
}

.purchase-btn::before {
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#25252b, #d6ed0e, #25252b, #d6ed0e);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}

 .purchase-btn:hover:before {
    top: 0;
}