.product-img {
    display: flex;
    justify-content: center;
    position: relative;
    top: -80px;
}

.product-img div {
    width: 300px;
    height: 450px;
    overflow: hidden;
    position: relative;
    left: 100px;
    border-radius: 20px;
}

.product-img div:hover {
    box-shadow: 0 0 25px #d6ed0e;
    transition: 0.5s;
}

.product-purchase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    position: relative;
    top: -80px;
}

.productDetail-info {
    height: 170px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-purchase .productName {
    font-size: 20px;
    font-weight: bolder;
}

.product-purchase .productDescription {
    font-weight: bolder;
}

.product-purchase .productPrice {
    font-size: 30px;
    font-weight: bolder;
}

.product-purchase form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 225px;
    width: 350px;
}

.product-purchase form select {
    padding-left: 10px;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    outline: none;
}

.btn-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.purchase-btn {
    position: relative;
    width: 170px;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #d6ed0e;
    overflow: hidden;
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 20px;
}

.purchase-btn::before {
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#25252b, #d6ed0e, #25252b, #d6ed0e);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}

 .purchase-btn:hover:before {
    top: 0;
}

.detailList {
    padding-left: 0;
}