.signup {
    position: relative;
    border: 1px solid;
    width: 800px;
    height: 500px;
    border: 2px solid #d6ed0e;
    box-shadow: 0 0 25px #d6ed0e;
    color: #fff;
}

.signup-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    padding: 0 40px;
}

.signup-box div h2 {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.input-area {
    display: flex;
    justify-content: space-between;
}
.input-area1 {
    width: 45%;
}
.input-area2 {
    width: 45%;
}

.signup-box .input-area div div {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 25px;
    color: #fff;
}

.signup-box .input-area input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
    border-bottom: 2px solid #fff;
    transition: 1s;
}

.signup-box div label {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 15px;
    transform: translateY(-50%);
    transition: 0.5s;
}

.signup-box div input:focus ~ label {
    color: #d6ed0e;
    top: -5px;
}

.signup-box div input:focus {
    border-bottom: 2px solid #d6ed0e;
}

.btn-area {
    display: flex;
    justify-content: center;
}

.signup-btn {
    position: relative;
    width: 50%;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #d6ed0e;
    overflow: hidden;
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 20px;
}

.signup-btn::before {
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#25252b, #d6ed0e, #25252b, #d6ed0e);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}

 .signup-btn:hover:before {
    top: 0;
}

.login-btn {
    font-size: 15px;
    text-align: center;
}

.login-btn span {
    margin-left: 10px;
    cursor:pointer;
    font-weight: 600;
    color: #d6ed0e;
}

.login-btn span:hover {
    text-decoration: underline;
}