body {
    width: 100vw;
    height: 100vh;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    border-radius: 30px;
    height: 45%;
}

.login-button {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-list li {
    padding: 10px;
}

.menu-area {
    display: flex;
    justify-content: center;
}


.product-img {
    display: flex;
    justify-content: flex-end;
}