.background {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #25252b;
    color: #fff;
    min-height: 100vh;

}



.product-img {
    display: flex;
    justify-content: flex-end;
}

.product-purchase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.product-purchase form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 150px;
}